[Desktop Entry]
Version=1.0
Type=Application
Name=apps launcher
Exec=zsh -c "dotfiles source; apps"
Icon=prompt-icon-128.png
Keywords=apps
Terminal=true
Categories=Utility;
