[Desktop Entry]
Version=1.0
Type=Application
Name=dotfiles apps
Exec=zsh -ic "dotfiles source; apps"
Icon=prompt-icon-128.png
Keywords=apps
Terminal=true
Categories=Utility;
