name: Test bootc images using macadam/machine

on:
  workflow_dispatch:
    inputs:
      prefix_name:
        description: "Name of the image to run with machine and macadam (e.g., dotfedora)"
        required: true
        type: string
        default: "dotfedora"
      runs-on:
        description: "Target runner"
        required: true
        type: string
        default: "ubuntu-latest"
      arch:
        description: "Target architecture (e.g., arm64, amd64)"
        required: true
        type: string
        default: "amd64"

jobs:
  test-dot:
    runs-on: ${{ inputs.runs-on }}${{ inputs.arch == 'arm64' && '-arm' || '' }}

    steps:
      - name: Enable linger and create user session (workaround)
        uses: gbraad-actions/blacksmith-user-session@main

      - name: Allow unprivileged userns (workaround)
        uses: gbraad-actions/warpbuild-unprivileged-userns@main

      - name: Get last 3 chars of hostname
        id: runner_id
        run: |
          echo "last3=${HOSTNAME: -3}" >> $GITHUB_OUTPUT

      - name: Remove unwanted stuff
        uses: gbraad-devenv/remove-unwanted@v1

      - name: Tailscale setup (host)
        uses: gbraad-actions/tailscale-action@v1
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          args: --ssh --accept-dns=false --operator=runner --advertise-exit-node
          hostname: "machine-${{ inputs.arch }}-${{ steps.runner_id.outputs.last3 }}"

      - name: Create and share userdirs
        run: |
          cd ${{ github.workspace }}
          mkdir -p Projects Documents Downloads
          ln -s ${{ github.workspace }}/Projects  ${HOME}/Projects
          ln -s ${{ github.workspace }}/Documents ${HOME}/Documents
          ln -s ${{ github.workspace }}/Downloads ${HOME}/Downloads
          tailscale drive share projects ${HOME}/Projects
          tailscale drive share documents ${HOME}/Documents
          tailscale drive share downloads ${HOME}/Downloads
          
      - name: Dotfiles (install from action)
        uses: gbraad-dotfiles/install-action@main
        with:
          upstream: true

      - name: Install required virtualization software
        continue-on-error: true
        uses: gbraad-actions/setup-virtualization@main

      - name: Install containers tools (optional)
        continue-on-error: true
        uses: gbraad-actions/setup-container-tools@v1

      - name: Compile macadam
        uses: gbraad-actions/zsh-action@main
        with:
          run: |
            # prepare
            apps projects/gvproxy source checkout
            apps projects/macadam source checkout
            devenv gofedora noinit

            # gvproxy
            apps projects/gvproxy compile
            apps projects/gvproxy cd
            sudo cp bin/gvproxy-linux-amd64 /usr/libexec/podman/gvproxy
            
            # macadam
            apps projects/macadam compile
            apps projects/macadam cd
            sudo cp bin/macadam-linux-amd64 ~/.local/bin/macadam
          as_user: runner
          
      - name: Write machine key to file
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_MACHINE_PRIVATE }}" > ~/.ssh/id_machine
          chmod 600 ~/.ssh/id_machine
          echo "${{ secrets.SSH_MACHINE_PUBLIC }}" > ~/.ssh/id_machine.pub
          
      - name: Run machine images with macadam
        uses: gbraad-actions/zsh-action@main
        with:
          run: |
            # prepare
            mkdir -p ~/DiskImages
            machine ${{ inputs.prefix_name }} download
            
            # macadam
            macadam init ~/DiskImages/dotfedora.qcow2 --username gbraad --ssh-identity-path ~/.ssh/id_machine
            macadam start
          as_user: runner

      - name: Hang around
        if: ${{ always() }}
        run: |
          sleep 18000
